<section class="container">
  <ng-container>
    <section class="header">
      Sortable Angular Table with JSON Placholder(Users) API
    </section>
  </ng-container>
  
  
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"  class="mat-elevation-z8 lg-devices" *ngIf="users; else LOADING">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
         Id
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
        Username
      </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
 

    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Website
      </th>
      <td mat-cell *matCellDef="let element"> {{element.website}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
        Email
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
   

 
  
  <ng-template #LOADING>
    <section class="loading">
      <span class="loader"></span>
      <p class>Ayyrian Group</p>
    </section>
  </ng-template>
</section>